<html>

    <head>
        <title><%= data.text %></title>
    </head>

    <body>
        <h1><%= data.text %></h1>
        <p><%= data.longtext %></p>
        <p><%= data.checkbox %></p>
        <p><%= data.email %></p>
    </body>

</html>